.MainContent {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: center;
  height: 100vh;
}

.TitleBar {
  height: 1.5em;
  min-height: 1.7em;
  width: 100vw;
  border: 1em;
  border-top-color: white;
  border-bottom-color: maroon;
  border-style: solid;
  background-color: white;
  border-width: 3px;
  border-right-width: 0;
  border-left-width: 0;
  padding-top: 1.5vh;
  text-align: center;
  color: rgb(0, 74, 104);
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
  font-size: 2em;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.TopicSearchBar {
  margin-top: 4em;
}

.Copyright {
  position: absolute;
  bottom: .5vh;
  right: 1vw;
  color: rgba(whitesmoke, .5);
}

.Results {
  margin-top: 3em;
}