.TopicSearchField {
  padding: .75em 1.5em;
  width: 30em !important;
  text-align: center;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3em;
  /* font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; */
  font-size: 24px; 
  color: rgb(0, 74, 104);
  -o-text-overflow: clip;
  text-overflow: clip;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1.5px 1.5px 0 rgba(0,0,0,0.2);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.TopicSearchField .bx--form-item .bx--form-requirement {
  color: white;
}