.App {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  height: 100%;
  position: relative;
}

.BackgroundImage {
  background-image: url('./assets/debateStage.jpg');
  -webkit-mask-image: -webkit-radial-gradient(ellipse, rgba(0,0,0,.7), rgba(0,0,0,1));
  background-size: cover;
  background-blend-mode: lighten;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.MainPage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}